<div class="main-header">
  <ul class="main-nav top-main-nav">
    <li class="nav-item nav-logo">
      <a href="#home">
        <img class="logo-mobile"
             [attr.src]="mobileLogo"
             alt="Premium Pig Roasting and Catering"/>
        <img class="logo"
             [attr.src]="logo"
             alt="Premium Pig Roasting and Catering"/>
      </a>
    </li>
    <li class="nav-item nav-call">
      <a href="#home" class="column">
        <span class="call">Call for a Free Quote</span>
        <strong class="highlight">603-393-5234</strong>
      </a>
      <br>
    </li>
    <li [ngClass]="{'close': bottomNav}" class="nav-item menu-mobile">
      <a href="#" class="menu-btn"
         (click)="bottomNav = !bottomNav"></a>
    </li>
  </ul>


  <ul [ngClass]="{'bottom-main-nav-mobile': bottomNav}"
      class="main-nav bottom-main-nav">
    <li class="nav-item">
      <a [routerLink]='link'
         routerLinkActive="router-link-active"
         (click)="goToRoute('services')">Services</a>
    </li>
    <li class="nav-item">
      <a [routerLink]='link'
         routerLinkActive="router-link-active"
         (click)="goToRoute('about')">Meet the Chef</a>
    </li>
    <li class="nav-item">
      <a [routerLink]='link'
         routerLinkActive="router-link-active"
         (click)="goToRoute('how')">How it Works</a>
    </li>
    <li class="nav-item">
      <a [routerLink]='link'
         routerLinkActive="router-link-active"
         (click)="goToRoute('contact')">Contact</a>
    </li>
    <li class="nav-item">
      <a [routerLink]='link'
         routerLinkActive="router-link-active"
         (click)="goToRoute('testimonials')">Testimonials</a>
    </li>
  </ul>
</div>
