<div class="main-header">
  <div class="main-nav">
    <div [ngClass]="{'close': bottomNav}" class="nav-item menu-mobile">
      <a href="#" class="menu-btn"
         (click)="bottomNav = !bottomNav"></a>
    </div>
    <app-logo></app-logo>
    <ul class="nav-list"
        [ngClass]="{'bottom-main-nav-mobile': bottomNav}">
      <li class="nav-item">
        <a class="nav-tag"
           routerLinkActive="router-link-active"
           [ngClass]="{'activeMenuItem': activeMenuItemHome}"
           (click)="goToRoute('home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-tag"
           routerLinkActive="router-link-active"
           [ngClass]="{'activeMenuItem': activeMenuItemServices}"
           (click)="goToRoute('services')">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-tag"
           routerLinkActive="router-link-active"
           [ngClass]="{'activeMenuItem': activeMenuItemAbout}"
           (click)="goToRoute('about')">Meet the Chef</a>
      </li>
      <li class="btn-primary"
          (click)="goToRoute('how')">Book Event
      </li>
    </ul>
  </div>
</div>
