<section class="about-section website-section column">
  <h1 class="section-title">
    Meet the Chef
  </h1>
  <div class="about-container">
    <article class="card-wrapper about-card column">
      <div class="ribbon-wrapper">
        <div class="ribbon column">
          <span class="ribbon-text">
            "I've been in the meat business all of my life" ~ Bill
          </span>
        </div>
        <div class="ribbon-fold"></div>
      </div>

      <div class="card-item">
        <img class="card-image" src="" alt="Meet the Chef">
      </div>
    </article>
  </div>
</section>

