<section class="about-section website-section column">
  <h1 class="section-title">
    Meet the Chef
  </h1>
  <div class="about-container">
    <article class="card-wrapper about-card column">
      <div class="ribbon-wrapper">
        <div class="ribbon column">
          <span class="ribbon-text">
            "I've been in the meat business all of my life" ~ Bill
          </span>
        </div>
        <div class="ribbon-fold"></div>
      </div>

      <div class="card-item">
        <!--<img class="card-image"-->
             <!--[attr.src]="aboutImg"-->
             <!--alt="Meet the Chef">-->
      </div>
    </article>
    <article class="about-description">
      Bill O'Mara, owner of the Blackwater Butcher, has been in the meat business all of his life. He started providing pigs for pig roasts in 2008. Bill uses only USDA pigs obtained from wholesale suppliers, ranging in size from about 60 pounds to 120 pounds.

      Bill offers a variety of roasting and set-up options in order to tailor any pig roasting experience his customer desires. Bill offers a unique product called the "Easy Carve", which is the most popular form of roasting. It's the easiest way to do a pig roast. The pig is pre-boned and pre-stuffed with a homemade sausage recipe stuffing, one of Bill's secret recipes that the critics are raving about. He also allows the customer to choose to have the pig pre-cooked for pick-up, or he can cook, deliver and carve it for you! Bill will also bring the prepped pig and roaster to your party and roast it for you on-site. The typical roast time is about six hours. This popular option allows for your guests to enjoy the entire pig roasting experience which adds to the festive occasion. Guests will smell the aroma of the meal long before it is served. The serving and carving is fun to watch, and there is ample time to take photos and videos!

      For those interested in full catering services, Bill offers a number of side selections from which to choose, creating a fully cooked and catered meal according to your specifications!

      Whether you are having a wedding reception, business gathering or any large celebration, a pig roast is easy and fun for any occasion! Just ask Bill and the Blackwater Butcher will provide you and your guests with the finest pig roasting and catering experience available!  Bon appetit!
    </article>
  </div>
</section>

