//___________________________________________________//
//                                                  //
//--------- ******* BUTTON WORLD ******* ----------//
//________________________________________________//

.btn-primary {
  @include button($third-font-color, $primary-btn-bg);
  @include btn-font-padding($font-base);

  &.btn-lg {
    @include btn-font-padding($font-xlg);
  }
}

.section-title {
  width: 100%;
  text-align: center;
  color: $secondary-font-color;
  font-weight: $bolder;
  @include rem(margin, 100px auto 30px);
  text-shadow: $text-shadow;
  text-transform: uppercase;
}

.website-section-wrapper {
  background: $site-bg;
  width: 100%;
}

.website-section {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  @include rem(padding, 15px);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($bp-768) {
    flex-wrap: wrap;
  }

  @include breakpoint($bp-1024) {
    @include rem(margin, 50px 0);
    flex-direction: row;
  }
}

.card-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
  @include rem(padding, 10px);

  .card-image {
    background: $gray-light;
  }

  .card-item {
    width: 100%;
    box-shadow: $box-shadow;
  }

  .card-text-wrapper {
    @include rem(padding, 10px);
  }

  .card-title {
    @include rem(font-size, $font-card-title);
    font-weight: $font-weight-lighter;
    @include rem(margin-bottom, 15px)
  }

  .card-hr {
    min-width: 30%;
    @include rem(margin, 10px auto);
    border: 1px solid $secondary-font-color;
  }
}

.no-background {
  .section-title {
    color: $third-font-color;
  }
}

// ribbon
.ribbon-wrapper {
  position: absolute;
  margin-top: 85px;
  left: -6px;

  .ribbon {
    color: $third-font-color;
    box-shadow: $box-shadow;
    font-weight: $bold;
    font-style: italic;
    @include rem(font-size, $font-md);
    background: $ribbon-bg;
    @include rem(padding, 5px 20px);

    .ribbon-text {
      @include rem(font-size, $font-sm);
    }
  }

  .ribbon-fold {
    background: darken($ribbon-bg, 20%);
    width: $ribbon-width;
    height: $ribbon-width;
    background: linear-gradient(45deg, transparent 50%, darken($ribbon-bg, 20%) 50%);
  }
}


//___________________________________________________//
//                                                  //
//--------- ******* PAGES WORLD ******* ----------//
//________________________________________________//

//header
//main nav
app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-1;

  @include breakpoint($bp-768) {
    box-shadow: $box-shadow;
    background-color: $white;
  }

  app-logo {
    margin-bottom: -90px;
  }

  .bottom {
    position: absolute;
    background: $black;
    top: 0;
    @include rem(padding, 20px);
    width: 100%;

    @include breakpoint($bp-768) {
      padding: 0;
      position: relative;
      background: none;
      width: auto;
    }
  }
}

app-logo {
  position: relative;

  .logo {
    background: $black;
    @include rem(padding, $logo-padding);
    text-align: left;

    .logo-text {
      color: $white;
      letter-spacing: 1.8px;
      @include rem(font-size, 23px);
      font-weight: 900;
      white-space: nowrap;

      &:last-child {
        display: block;
        @include rem(font-size, 14px);
        letter-spacing: .5px;
      }
    }
  }
}

.main-nav {
  display: flex;
}

app-call-block {
  position: fixed;
  bottom: -30px;
  right: 0;
  padding: 10px;
  color: #4A4A4A;
  background: #D8D8D8;
  border: 1px solid #979797;

  .call-block {
    display: block;
    text-align: right;
    z-index: 1001;

    .call {
      @include breakpoint($bp-768) {
        font-weight: $bolder;
        margin-top: 0;
        @include rem(font-size, 12px);
        text-transform: uppercase;
      }
    }

    .phone {
      @include rem(font-size, 16px);
      margin-top: -10px;

      @include breakpoint($bp-768) {
        @include rem(font-size, 22px);

      }
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  list-style: none;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  justify-content: space-around;
  width: 100%;

  @include breakpoint($bp-768) {
    flex-direction: row;
  }

  .btn-primary {
    white-space: nowrap;
    max-width: 200px;
    align-self: center;
  }

  .nav-item {
    @include rem(font-size, $font-nav);
  }

  li {

    @include breakpoint($bp-768) {
      text-align: center;
    }
  }

  .nav-tag {
    @include a-tag($menu-font-color);
    display: block;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active {
      font-weight: 900;
    }
  }
}

.nav-list{
  display: none;

  @include breakpoint($bp-768) {
    display: flex;
    align-items: flex-end;
  }
}

// hamburger menu
.menu-mobile {
  position: absolute;
  @include rem(left, 30px);
  @include rem(top, 30px);
  z-index: 100;

  @include breakpoint($bp-768) {
    display: none;
  }

  .menu-btn {
    display: block;
    width: 36px;
    z-index: $z-index-1;
    cursor: pointer;

    &:hover{
      &:before {
        box-shadow: 0 0 0 #fff;
        transform: translateY(10px) rotate(45deg);
      }

      &:after {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  .menu-btn,
  &.close .menu-btn:hover {

    &:before,
    &:after {
      background-color: #fff;
      content: '';
      display: block;
      height: 4px;
      transition: all 200ms ease-in-out;
    }

    &:before {
      box-shadow: 0 10px 0 #fff;
      margin-bottom: 16px;
    }
  }

  &.close .menu-btn:hover {

    &:before {
      transform: translateY(0px) rotate(0);
    }

    &:after {
      transform: translateY(0px) rotate(0);
    }
  }
}

// home
.home-section {
  color: $third-font-color;
  text-align: center;
  min-height: 500px;
  display: block;
  text-shadow: $text-shadow;

  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
    @include rem(font-size, 30px);
  }

  h2 {
    //font-family: $font-family-logo-2;
    @include rem(font-size, 22px);
    margin-top: 40px;

    @include breakpoint($bp-768) {
      @include rem(font-size, 25px);
    }
  }

  .circle {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 5%;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .4));

    @include breakpoint($bp-768) {
      padding: 50px;
      margin-top: 100px;
    }

    .highlight {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .home-title {
    position: relative;
    min-height: 100vh;
    height: 100%;
  }

  .logo-pig {
    height: 130px;

    @include breakpoint($bp-768) {
      height: 200px;
    }
  }

  .cover-background-image {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url($home-bg-image);
    position: fixed;
    width: 100%;
  }
}

//services
.service-intro-container {
  display: flex;
  flex-direction: column;

  .service-intro-image {
    width: 100%;
    max-width: 281px;
    height: 100%;
    max-height: 220px;
    margin: auto;
    background: $gray-light;
  }

  .service-intro {
    @include breakpoint($bp-1024) {
      flex-direction: row;
    }

    @include breakpoint($bp-1024) {
      @include rem(margin-left, 40px);
      width: 70%;
    }
  }
}

// services
.service-card {
  max-width: $service-card-width + $ribbon-width;

  @include breakpoint($bp-768) {
    width: $service-card-width + $ribbon-width;
  }

  .card-image {
    min-height: 50%;
    min-width: 100%;
    max-width: 100%;
  }

  .card-item {
    max-width: $service-card-width;
    height: $service-card-height;
  }
}

//about aka meet the chef
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include breakpoint($bp-1024) {
    flex-direction: row;
  }

  article {
    width: 100%;

    &:first-child {
      @include breakpoint($bp-1024) {
        width: 45%;
      }
    }

    &:last-child {
      @include breakpoint($bp-1024) {
        width: 55%;
      }
    }
  }
}

.about-section {
  .section-title {
    color: $third-font-color;
  }
}

.about-card {
  max-width: $about-card-width + $ribbon-width;

  @include breakpoint($bp-768) {
    width: $about-card-width + $ribbon-width;
  }

  .ribbon {
    max-width: 65%;

    .ribbon-text {
      @include rem(font-size, $font-md);
    }
  }

  .card-item {
    max-width: $about-card-width;
    background-image: url($about-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;

    @include breakpoint($bp-1024) {
      height: 500px;
    }
  }
}

.about-description {
  background: $site-bg;
  @include rem(padding, 20px);
  @include rem(margin, 10px);
  @include rem(font-size, 13px);
  line-height: 1.7;
}

//how it works
.how-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .btn-primary {
    margin: 0 auto;
  }
}

.how-step-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;

  @include breakpoint($bp-768) {
    flex-direction: row;
  }

  .how-step-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @include rem(font-size, 22px);
    @include rem(margin-bottom, 50px);
    width: 100%;

    @include breakpoint($bp-768) {
      width: 33%;
    }

    .fa {
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem(font-size, 80px);
      color: #4A4A4A;
      background: #D8D8D8;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid #979797;
      @include rem(margin-bottom, 20px);
    }
  }
}

//contact

//testimonials

//footer
footer {
  color: $footer-font-color;
  background: $footer-bg;
  min-height: 150px;

  .footer-wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
