//___________________________________________________//
//                                                  //
//--------- ******* BUTTON WORLD ******* ----------//
//________________________________________________//

.btn-primary {
  @include button($third-font-color, $primary-btn-bg);
  @include rem(font-size, $font-btn);
  max-width: 100%;
  @include rem(padding, 15px);
  @include rem(min-width, 200px);

  @include breakpoint($bp-480) {
    @include rem(max-width, 215px);
  }
}

.section-title {
  width: 100%;
  text-align: center;
  color: $secondary-font-color;
  text-shadow: $text-shadow;
  @include rem(margin, 100px auto 30px);
}

.website-section-wrapper {
  background: $site-bg;
  width: 100%;
}

.website-section {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  @include rem(padding, 15px);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($bp-768) {
    flex-wrap: wrap;
  }


  @include breakpoint($bp-1024) {
    @include rem(margin, 50px 0);
    flex-direction: row;
  }
}

.card-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
  @include rem(padding, 10px);

  .card-image {
    background: $gray-light;
  }

  .card-item {
    width: 100%;
    box-shadow: $box-shadow;
  }

  .card-text-wrapper {
    @include rem(padding, 10px);
  }

  .card-title {
    @include rem(font-size, $font-card-title);
    font-weight: $font-weight-lighter;
    @include rem(margin-bottom, 15px)
  }

  .card-hr {
    min-width: 30%;
    @include rem(margin, 10px auto);
    border: 1px solid $secondary-font-color;
  }
}

.no-background {
  .section-title {
    color: $third-font-color;
  }
}

// ribbon
.ribbon-wrapper {
  position: absolute;
  margin-top: 85px;
  left: -6px;

  .ribbon {
    color: $third-font-color;
    box-shadow: $box-shadow;
    font-weight: $bold;
    font-style: italic;
    @include rem(font-size, $font-md);
    background: $ribbon-bg;
    @include rem(padding, 5px 20px);

    .ribbon-text {
      @include rem(font-size, $font-sm);
    }
  }

  .ribbon-fold {
    background: darken($ribbon-bg, 20%);
    width: $ribbon-width;
    height: $ribbon-width;
    background: linear-gradient(45deg, transparent 50%, darken($ribbon-bg, 20%) 50%);
  }
}


//___________________________________________________//
//                                                  //
//--------- ******* PAGES WORLD ******* ----------//
//________________________________________________//

//header
//main nav
app-header {
  box-shadow: $box-shadow;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: $z-index-1;
}

.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  list-style: none;
  padding: 20px 0 7px;
  max-width: 1100px;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: space-around;

  .nav-item {
    @include rem(font-size, $font-nav);
  }

  @include breakpoint($bp-768) {
    flex-direction: row;
  }
}

.top-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: none;

  a {
    &:hover,
    &:focus {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .nav-logo {
    text-align: left;

    .logo {
      display: none;

      @include breakpoint($bp-768) {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 250px;
      }
    }

    .logo-mobile {
      display: block;
      height: 60px;
      margin: auto;

      @include breakpoint($bp-768) {
        display: none;
      }
    }
  }

  .nav-call {
    text-align: right;
    position: absolute;
    left: 30px;

    .call {
      color: $third-font-color;
      @include rem(font-size, 16px);
      margin-top: 30px;

      @include breakpoint($bp-768) {
        margin-top: 0;
      }
    }

    .highlight {
      @include rem(font-size, 22px);
      margin-top: -10px;
    }

    @include breakpoint($bp-768) {
      display: block;
      top: 10px;
      right: 10px;
    }
  }

  .menu-mobile {
    position: absolute;
    right: 30px;

    @include breakpoint($bp-768) {
      display: none;
    }
  }
}

.bottom-main-nav {
  display: none;
  @include rem(margin-top, 20px);
  width: 100%;

  .nav-item {
    @include breakpoint($bp-768) {
      width: 20%; // x5 menu items = 100%
      text-align: center;
    }
  }

  a {
    @include a-tag($third-font-color);
  }

  @include breakpoint($bp-768) {
    display: flex;
  }
}

// hamburger menu
.menu-btn {
  display: block;
  width: 36px;
  z-index: $z-index-1;
  cursor: pointer;

  &:before,
  &:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 4px;
    transition: all 200ms ease-in-out;
  }
  &:before {
    box-shadow: 0 10px 0 #fff;
    margin-bottom: 16px;
  }

  &.open,
  &:hover:before {
    box-shadow: 0 0 0 #fff;
    transform: translateY(10px) rotate(45deg);
  }

  &.close,
  &:hover:after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

// home
.home-section {
  color: $third-font-color;
  text-align: center;
  min-height: 500px;
  display: block;
  text-shadow: $text-shadow;

  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
    @include rem(font-size, 30px);
  }

  h2 {
    font-family: $font-family-logo-2;
    @include rem(font-size, 22px);
    margin-top: 40px;

    @include breakpoint($bp-768) {
      @include rem(font-size, 25px);
    }
  }

  .circle {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 5%;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .4));

    .highlight {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    @include breakpoint($bp-768) {
      padding: 50px;
    }
  }

  .home-title {
    position: relative;
    min-height: 100vh;
    height: 100%;
  }

  .logo-pig {
    height: 130px;

    @include breakpoint($bp-768) {
      height: 200px;
    }
  }

  .cover-background-image {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url($home-bg-image);
    position: fixed;
    width: 100%;
  }
}

//services
.service-intro-container {
  display: flex;
  flex-direction: column;

  .service-intro-image {
    width: 100%;
    max-width: 281px;
    height: 100%;
    max-height: 220px;
    margin: auto;
    background: $gray-light;
  }

  .service-intro {

    @include breakpoint($bp-1024) {
      @include rem(margin-left, 40px);
      width: 70%;
    }
  }

  @include breakpoint($bp-1024) {
    flex-direction: row;
  }
}

// services
.service-card {
  max-width: $service-card-width + $ribbon-width;

  .card-image {
    min-height: 50%;
    min-width: 100%;
    max-width: 100%;
  }

  .card-item {
    max-width: $service-card-width;
    height: $service-card-height;
  }

  @include breakpoint($bp-768) {
    width: $service-card-width + $ribbon-width;
  }
}

//about aka meet the chef
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  article {
    width: 100%;

    &:first-child {
      @include breakpoint($bp-1024) {
        width: 45%;
      }
    }

    &:last-child {
      @include breakpoint($bp-1024) {
        width: 55%;
      }
    }
  }

  @include breakpoint($bp-1024) {
    flex-direction: row;
  }
}

.about-section {
  .section-title {
    color: $third-font-color;
  }
}

.about-card {
  max-width: $about-card-width + $ribbon-width;

  .ribbon {
    max-width: 65%;

    .ribbon-text {
      @include rem(font-size, $font-md);
    }
  }

  .card-item {
    max-width: $about-card-width;
    background-image: url($about-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;

    @include breakpoint($bp-1024) {
      height: 500px;
    }
  }

  @include breakpoint($bp-768) {
    width: $about-card-width + $ribbon-width;
  }
}

.about-description {
  background: $site-bg;
  @include rem(padding, 20px);
  @include rem(margin, 10px);
  @include rem(font-size, 13px);
  line-height: 1.7;
}

//how it works
.how-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .btn-primary {
    margin: 0 auto;
  }
}

.how-step-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;

  .how-step-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @include rem(font-size, 22px);
    @include rem(margin-bottom, 50px);
    width: 100%;

    .fa {
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem(font-size, 80px);
      color: #4A4A4A;
      background: #D8D8D8;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid #979797;
      @include rem(margin-bottom, 20px);
    }

    @include breakpoint($bp-768) {
      width: 33%;
    }
  }

  @include breakpoint($bp-768) {
    flex-direction: row;
  }
}

//contact

//testimonials

//footer
footer {
  color: $footer-font-color;
  background: $footer-bg;
  min-height: 150px;

  .footer-wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
