//___________________________________________________//
//                                                  //
//----------- ******* HELPERS ******* -------------//
//________________________________________________//

//IMAGES
.cover-background-image {
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-size: cover !important;
  z-index: $z-index-bottom;
}

//DISPLAYS
.hide {
  display: none !important;
}

.hide-mobile {
  display: none !important;

  @include breakpoint($bp-768) {
    display: flex !important;
  }
}

.hide-tablet {
  display: flex !important;

  @include breakpoint($bp-768) {
    display: none !important;
  }
}

.no-background {
  background: none !important;
}

//LAYOUT
.column {
  display: flex;
  flex-direction: column;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.col-half {
  width: 50%;
}

.width-full {
  width: 100%;
}

//text
.highlight {
  color: $secondary-font-color;
}
