//___________________________________________________//
//                                                  //
//---------- ******* VARIABLES ******* ------------//
//________________________________________________//

// - - - - - - - - - color world - - - - - - - - - //
$black: #1E1E1E;
$off-white: #FBFBFF;
$white: #FFFFFF;
$gray: #dcdcdc;
$gray-light: #F0F0F0;
$gray-dark: #525050;
$bright-orange: #FF3F00;
$gold: #f5c223;

//colors fonts
$primary-font-color: $black;
$secondary-font-color: $bright-orange;
$third-font-color: $white;
$logo-color: #EA212D;
$menu-font-color: #A8A5A5;
//$secondary-font-color: $logo-color;

//colors backgrounds
$site-bg: $off-white;
$section-bg: $gray-light;
$footer-bg: $gray-dark;
$footer-font-color: lighten($footer-bg, 50%);
$ribbon-bg: $gold;

//colors buttons
$primary-btn-bg: $bright-orange;
$primary-btn-font-color: $off-white;

//colors input
$input-background: #3D3D3D;

// - - - - - - - - - typography world - - - - - - - - - //

//font type
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
// need more font thickness 'Quicksand'
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
$font-family-sans-serif: 'Muli', Helvetica, Arial, sans-serif;
$font-family-logo-2: 'Quicksand';
$font-family-Chelsea: 'Chelsea Market', cursive;

//fonts sizes
$font-xsm: 10px;
$font-sm: 12px;
$font-base: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xlg: 20px;

//font tags
$font-h1: 40px;
$font-p: $font-md;

//font components
$font-section-title: 40px;
$font-card-title: 30px;
$font-nav: $font-lg;

//font weights
$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-normal: 500;
$bold: 700;
$bolder: 900;

//font spacing
$letter-spacing: 1.5px;

//text shadow
$text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

// - - - - - - - - - urls world - - - - - - - - - //

//$home-bg-image: "/../assets/images/northern-new-england.jpg";
//$home-bg-image: "/../assets/images/background.jpg";
//$home-bg-image: "/../assets/images/bg-arial.jpg";
//$home-bg-image: "/../assets/images/bg-mix.jpg";
$home-bg-image: "/../assets/images/bg-angle.jpg";
$about-img: "/../assets/images/about.jpg";

// - - - - - - - - - media query world - - - - - - - - - //

$bp-320: 321px;
$bp-480: 480px;
$bp-768: 768px;
$bp-1024: 1025px;

// - - - - - - - - - z indices world - - - - - - - - - //

$z-index-bottom: -1;
$z-index-0: 0;
$z-index-normal: 1;
$z-index-1: 10;

// - - - - - - - - - measurements - - - - - - - - - //
$ribbon-width: 15px;
$service-card-width: 300px;
$service-card-height: 400px;
$about-card-width: 500px;
$about-card-height: 500px;

// - - - - - - - - - other world - - - - - - - - - //
$border-radius: 5px;
$transition-hover: all 0.3s ease;
$box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
$app-header-background: rgba(0, 0, 0, 0.75);
$app-header-background-gradient: linear-gradient(to right, rgba(30,30,30,1) 0%,rgba(30,30,30,1) 23%,rgba(30,30,30,0.6) 68%,rgba(30,30,30,0.5) 100%);
$logo-padding: 60px 20px 40px;
$text-shadow-outline:  -.3px -.3px 0 $black, .3px -.3px 0 $gray-light, -.3px .3px 0 $gray-light, .3px .3px 0 $gray-light;
