<div class="website-container" id="home">

  <app-call-block></app-call-block>

  <app-header class="width-full"></app-header>

  <app-home></app-home>

  <video class="video-bg" autoplay muted loop id="myVideo">
    <source src="../assets/videos/blackandwhite.mp4" type="video/mp4">
  </video>

  <app-services id="services"></app-services>

  <app-about id="about"></app-about>

  <app-how id="how"></app-how>

  <!--<div class="website-section-wrapper no-background">-->
  <!--<app-contact id="contact"></app-contact>-->
  <!--<app-testimonials id="testimonials" class="col-half"></app-testimonials>-->
  <!--</div>-->

  <app-footer></app-footer>
</div>
