<div class="website-section-wrapper">
  <section class="service-section website-section">

    <h1 class="section-title">
      Services
    </h1>

    <div class="service-intro-container">
      <img class="service-intro-image"
           [attr.src]="introImg"
           alt="Pig Roast stuffing"/>
      <article class="service-intro"
               [innerHTML]="introduction"></article>
    </div>

    <div class="card-container">
      <ng-container *ngFor="let service of services">
        <article id="service-{{service.id}}"
                 class="card-wrapper service-card column">
          <h2 class="card-title"
              [innerHTML]="service.title">
          </h2>
          <div class="ribbon-wrapper">
            <div class="ribbon column">
            <span class="ribbon-text">
              Starting at
            </span>
              <span class="ribbon-price"
              [innerHTML]="service.price">
            </span>
            </div>
            <div class="ribbon-fold"></div>
          </div>
          <div class="card-item">
            <img class="card-image"
                 [attr.src]="service.img"
                 width="1" height="1"
                 alt="Pigroast Pick Me Up">
            <div class="card-text-wrapper">
              <span class="card-subtitle"
                    [innerHTML]="service.subtitle"></span>
              <hr class="card-hr">
              <span class="card-description"
                    [innerHTML]="service.description"></span>
            </div>
          </div>
        </article>
      </ng-container>
    </div>
  </section>
</div>
