<div class="website-section-wrapper">
  <section class="how-section website-section column">
    <h1 class="section-title">
      How it Works
    </h1>
    <section class="how-step-container">
      <article class="how-step-wrapper">
        <i class="fa fa-list-ol"></i>
        <span>Answer a Few Questions</span>
      </article>
      <article class="how-step-wrapper">
        <i class="fa fa-dollar"></i>
        <span>Get a FREE Quote</span>
      </article>
      <article class="how-step-wrapper">
        <i class="fa fa-calendar-check-o"></i>
        <span>Book your Event</span>
      </article>
    </section>
    <button class="btn-primary btn-lg">GET STARTED</button>
  </section>
</div>
