<section class="home-section">
  <div class="cover-background-image"></div>
  <header class="home-title center-contents">
    <h1 class="sub-title">Professional & Reliable</h1>
    <h1 class="place">New England</h1>
    <h1 class="title"><span class="highlight">Pig</span> Roasting</h1>
    <!--<div class="circle center-contents">-->
      <!--<h1>Northern New England,</h1>-->
      <!--<img class="logo-pig"-->
           <!--[attr.src]="logoPig"-->
           <!--alt="Premium Pig Roasting and Catering"><img>-->
      <!--<h2>It's <strong class="highlight">Time</strong> to Experience High <strong class="highlight">Quality</strong> Pig Roasting</h2>-->
    <!--</div>-->
  </header>
</section>

